---
import Section from "../Section.astro";
import { basics } from "@cv";

const { summary } = basics;
---

<Section>
    <p class="text-yellow-200 text-lg font-thin tracking-wide">
        {summary}
    </p>
</Section>
