---
import Section from "../Section.astro";
import { basics } from "@cv";

const { summary } = basics;
---

<Section title="About" class="mt-6 md:mt-0">
    <p class="text-yellow-200 mx-4 mt-2 md:mt-0 md:mx-auto text-lg font-thin tracking-wide">
        {summary}
    </p>
</Section>
