---
import HTML from "@/icons/html.astro";
import NET from "@/icons/net.astro";
import Section from "../Section.astro";
import JavaScript from "@/icons/javascript.astro";
import CSS from "@/icons/css.astro";
import Tailwind from "@/icons/tailwind.astro";
import TypeScript from "@/icons/typescript.astro";
import Git from "@/icons/git.astro";
import MySQL from "@/icons/mysql.astro";
import React from "@/icons/react.astro";
import Azure from "@/icons/azure.astro";

import { skills } from "@cv";

const SKILL_ICONS: Record<string, any> = {
    HTML,
    NET,
    CSS,
    JavaScript,
    Tailwind,
    TypeScript,
    Git,
    MySQL,
    Azure,
    React,
};
---

<Section title="Skills" class="">
    <ul class="inline-flex mt-2 gap-2 flex-wrap">
        {
            skills.map(({ name }) => {
                const iconName = name === "Next.js" ? "Next" : name
                const Icon = SKILL_ICONS[iconName];

                return (
                    <li class="text-blue-800 items-center flex text-sm font-medium me-1 px-3 py-0.5 rounded dark:bg-blue-900 dark:text-blue-100">
                        {Icon && <Icon />} <span class="ml-1">{name}</span>
                    </li>
                );
            })
        }
    </ul>
</Section>

