---

import About from "../components/sections/About.astro";
import Education from "../components/sections/Education.astro";
import Experience from "../components/sections/Experience.astro";
import Header from "../components/sections/Header.astro";
import Skills from "../components/sections/Skills.astro";
import Layout from "../layouts/Layout.astro";

---

<Layout
	title="Portfolio Pedro - Fullstack developer"
	description="Fullstack developer with experience in .NET and frontend frameworks like React or Astro"
>
	<main>
		<Header />
		<About />
		<Experience />
		<Education />
		<Skills />
	</main>
</Layout>
