---

---

<header class="flex justify-between items-center py-4 w-[1120px] mx-auto">
    <img
        class="rounded-full w-12 h-12"
        src="https://i.pinimg.com/564x/25/cd/8b/25cd8bcb69c6e562efb1d845c06808b3.jpg"
        alt="profile Pedro"
    />

    <nav class="flex flex-row gap-x-7 opacity-70">
        <a href="/">Home</a>
        <a href="#experience">Experience</a>
        <a href="#projects">Projects</a>
        <a href="#contact">Contact</a>
    </nav>
</header>


<style>
    nav {
      animation: nav-shadown 1s linear both;
      animation-timeline: scroll();
      animation-range: 0 100px;
    }
  
    @keyframes nav-shadown {
      to {
        @apply shadow-lg ring-1 backdrop-blur dark:bg-gray-800/90 bg-white/50 ring-white/10;
      }
    }
  </style>
